.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #b4a7a7;
}
.login-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(198,172,223,1) 50%, rgba(255,255,255,1) 100%);
}
.login-img img{
    width: 35rem;
    height: 40rem;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40rem;
    background: linear-gradient(180deg, rgba(198,172,223,1) 44%, rgba(255,255,255,1) 100%);
}
.name{
    font-size: 3em;
    margin: 2px;
    font-weight:800;
    font-family: monospace;
    text-decoration: underline solid #5d2e8e;
}
.card-1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px 10px 0 0;
}
p {
    padding-left: 4px;
    padding-bottom: 0.4rem;
    font-weight: 600;
    margin: -0.9px;
}
.card-body{
    width: 20rem ;
    height: 2rem;
    outline: none;
    padding: 5px;
    border-radius: 0.7rem;
}
.bottom-container{
    display: flex;
}
.forgot-pw{
    margin-left: 3.5rem;
    font-weight: bold;
    color: #5d2e8e;
    text-decoration: none;
}
.btn{
    display: flex;
    justify-content: center;
    padding-right: 10px;
    padding-top: 2rem;
}
.button-css{
    background: #5d2e8e;
    color: #fff;
    outline: none;
    border: none;
    padding: 0.8rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: 5rem;
    font-size: 20px;
    font-weight: 700;
}
.sign-up{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.p{
    font-weight: normal;
}
.pass-icon{
    position: relative;
    top: 10px;
    right: 2rem;
    cursor: pointer;

}
