.Popup {
  position: "fixed";
  top: 0;
  left: 0;
  width: 10rem;
  height: 20rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Popup-inner {
  position: relative;
  display: flex;
  justify-content: end;
  background: transparent;
  width: 100%;
}

.Popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
  }