.signUp-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #b4a7a7;
}

.signUp-img img{
    width: 35rem;
    height: 40rem;
}
.signUpForm-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40rem;
    background: linear-gradient(180deg, rgba(198,172,223,1) 44%, rgba(255,255,255,1) 100%);
}
.signUp-card{
    background: #fff;
    padding: 2rem;
}